<form [formGroup]="miFormulario" (ngSubmit)=guardar()>
  <ion-card class="m-0 none">
    <ion-item detail="false" class="none item-native">
      <ion-label class="text-center">
        <strong>{{titulo}} {{invProducto.producto.codigo}}</strong>
      </ion-label>
      <ion-buttons slot="end" >
        <ion-button *ngIf="venta" (click)="cancelar()">
          <ion-icon slot="icon-only" name="checkbox" color="success"></ion-icon>
        </ion-button>
        <ion-button (click)="close()">
          <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-label style="margin-left: 18px;">Descripción: {{invProducto.producto.descripcion}}</ion-label>

    <mat-form-field class="normal" appearance="outline" class="full-width">
      <mat-label>Número Factura:</mat-label>
      <input matInput class="normal"  
             formControlName="numero_factura" 
             autocomplete="off">
      <mat-error class="normal" *ngIf="campoNoValido('numero_factura')">
                 El número de factura <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Proveedor:</mat-label>
      <input matInput class="normal" 
             formControlName="proveedor"
             autocomplete="off">
      <mat-error class="normal" *ngIf="campoNoValido('proveedor')">
                 El proveedor <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Ruc:</mat-label>
      <input matInput class="normal"
             formControlName="ruc"
             autocomplete="off"
             maxlength="13"> 
      <mat-error class="normal" *ngIf="campoNoValido('ruc')">
                 El ruc <strong>es requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cantidad:</mat-label>
      <input matInput class="normal"  
             formControlName="cantidad"
             autocomplete="off"
             type="number"> 
      <mat-error class="normal" *ngIf="campoNoValido('cantidad')">
                 La cantidad <strong>es requerida</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label >UM:</mat-label>
      <input matInput class="normal"  
             formControlName="um"
             autocomplete="off"> 
    </mat-form-field>

    <ion-grid class="none">
      <ion-row class="ion-justify-content-end">
          <ion-col size="auto">
               <ion-button class="normal" color="dark" (click)="cancelar()">
                  cancelar
               </ion-button>
          </ion-col>
          <ion-col size="auto">
               <ion-button fill="clear" (click)="guardar()"  
               class="normal boton-primario">
               ok
               </ion-button>

          </ion-col>

      </ion-row>
  </ion-grid>
  </ion-card>
</form>
