<ion-header [translucent]="true">
<ion-toolbar>
  <ion-title><strong>Detalle de transacciones Código: {{transaccion.producto.codigo}}</strong></ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-row >
  <ion-col *ngIf="transaccion">
    <ion-item lines="none" class="none">
      <ion-label>
        <p class="color-detalle"> <strong class="color-label">Código:</strong> {{transaccion.producto.codigo}}</p>
        <p class="color-detalle"> <strong class="color-label">Descripción:</strong> {{transaccion.producto.descripcion}}</p>
        <p class="color-detalle"> <strong class="color-label">Lote:</strong> {{transaccion.producto.lote}}</p>     
        <p class="color-detalle"> <strong class="color-label">Precion Compra:</strong> {{transaccion.producto.precio_compra | currency}}</p>
        <p class="color-detalle"> <strong class="color-label">Fecha Creación:</strong> {{transaccion.producto.fecha_creacion}}</p>
        <p class="color-detalle"> <strong class="color-label">Fecha Elaboración:</strong> {{transaccion.producto.fecha_elaboracion}}</p>
        <p class="color-detalle"> <strong class="color-label">Fecha Caducidad:</strong> {{transaccion.producto.fecha_caducidad}}</p>
        <p class="color-detalle"> <strong class="color-label">Um:</strong> {{transaccion.um}}</p>
      </ion-label>
    </ion-item>
  </ion-col>
  
  <ion-col *ngIf="transaccion">
    <ion-item lines="none" class="none">
      <ion-label>
        <p class="color-detalle"> <strong class="color-label">Tipo de transacción:</strong> {{transaccion.tipo_transaccion}}</p>
        <p class="color-detalle"> <strong class="color-label">Fecha de registro:</strong>{{transaccion.fecha_transaccion}} </p> 
        <p class="color-detalle"> <strong class="color-label">Número de factura:</strong> {{transaccion.numero_factura}}</p>
        <p class="color-detalle"> <strong class="color-label">Número de nota crédito:</strong> {{transaccion?.numero_nota_credito}}</p>
        <p class="color-detalle"> <strong class="color-label">Proveedor:</strong> {{transaccion.proveedor}}</p>
        <p class="color-detalle"> <strong class="color-label">Ruc:</strong> {{transaccion.ruc}}</p>     
        <p class="color-detalle"> <strong class="color-label">Cantidad:</strong> {{transaccion.cantidad}}</p>
        <p class="color-detalle"> <strong class="color-label">Precio Venta:</strong> {{transaccion.producto.precio_venta |currency}}</p>
        <p class="color-detalle"> <strong class="color-label">Total:</strong> {{transaccion.cantidad * transaccion.producto.precio_venta | currency}}</p>
      </ion-label>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <div class="content-total">
        <h3 class="total">Cantidad Actual </h3>
        <h3 class="total"> {{cantidad}} {{transaccion.um}}</h3>
    </div>
  </ion-col>
</ion-row>


