
.content-total {
    background: black !important;
    border-radius: 5px;
    padding: 0px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.total {
    font-size: 35px;
    font-weight: bold;
    color: #ecb611;
    margin: 0px;
}